@tailwind base;
@tailwind components;
@tailwind utilities;

.tool-board1 {
    left: 5%;
    border: 1px solid black;
    width: 20%;
    height: 400px;
    position:relative;
}
/*  make a boarder to 1/3 of the screen ant put it on right*/
.tool-board2 {
    right:5%;
    border: 1px solid black;
    width: 20%;
    height: 400px;
    position:relative;

}
